accelerate
bert-score
datasets
rouge-score
sacrebleu
sacremoses
tqdm
evaluate
numpy
pandas
scikit-learn
sentencepiece
ipdb
bert-score
bitsandbytes==0.42.0
scikit-learn
rdflib
Wikidata
SPARQLWrapper
torch
transformers
rouge-score
absl-py
bert_score
flash-attn